body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
    /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: whitesmoke;



}

.mainContent {
    margin: auto;
    width: 70%;
    padding: 20px;

    

}

#mainContentHead {
    margin-left: auto;
    margin-right: auto;
}

#mainContentHead p {
    display: inline;
}

#mainContentFoot {
    margin: auto;
    width: 100%
}

#mainContentFoot * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#descHead {
    font-weight: bolder;
    font-size: 65px;
}

#descSubhead {
    font-family: 'Raleway', sans-serif;
    font-style:oblique;
    font-size: 45px;
}

#descBody {
    text-align: justify;
    font-size: 27px;
}

