/* pink pallet
https://coolors.co/919098-897c80-ba8f95-cab6cd-cfbcdf
*/
.header {
    position:static;
    top: 0;
    left:0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #64014c;
    width: 100%;
}

.header a {
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    

}

.headerRightBox {
    background-color: #724552;
    margin: 1px 40px;
    padding: 5px;
    border-radius: 10px;
}