body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    background-color: burlywood;
    /* background-image: linear-gradient(to right, #3E5151, #0c0f0f); */
    /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* color: #ffebcd; */
    color: #000000;
}

main {
    background-color: rgb(37, 37, 37);
    margin: 1.5em;
}

footer {
    margin: 1.5em;
}

p {
    /* background-color: violet; */
}