/* pink pallet
https://coolors.co/919098-897c80-ba8f95-cab6cd-cfbcdf
*/
.header {
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.header-container {
    position:static;
    top: 0;
    left:0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    /* background-color: #64014c; */
    /* background-color:#8e4162; */
    background-color: transparent;
}

/* .header a {
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    

} */

.burgerMenu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.burgerMenu .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

.headerRightBox {
    margin: 25px 40px 40px;
    display: flex;
    justify-content: space-between;
}

.headerRightBox-container {
    background-color: #f19fb747;
    margin: .5px 6px;
    padding: 2px;
    border-radius: 10px;
    
}

.headerRightBoxChild:hover {
    background-color: darkslategray;
}

.headerRightBoxChild a {
    font-size: 20px;
}