.myName {
    /* border: blue 2px solid; */
    max-width: 850px;
    margin-left: 1rem;
}

.myName p {
    display: inline;
}

.myName p#name {
    /* border: grey 1px solid; */
    font-weight: bolder;
    font-size: 8rem;
    margin-bottom: -100;
    padding-bottom: 0;
}



.myName p#personalQuote {
    margin-left: 200px;
    /* border: 0.1rem green solid; */
    margin-top: 0;
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
}
 #greet {
    font-size: 1.6em;
 }