/* pink pallet
https://coolors.co/919098-897c80-ba8f95-cab6cd-cfbcdf
*/
.header {
    position:static;
    top: 0;
    left:0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    /* background-color: #64014c; */
    /* background-color:#8e4162; */
    background-color: transparent;
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(112,9,121,1) 57%, rgba(0,255,141,1) 100%); */
    width: 100%;
}

.header a {
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    

}

.headerRightBoxFather {
    margin: 25px 40px 40px;
    display: flex;
    justify-content: space-between;
}

.headerRightBoxChild {
    background-color: #f19fb747;
    margin: .5px 6px;
    padding: 2px;
    border-radius: 10px;
    
}

.headerRightBoxChild:hover {
    background-color: darkslategray;
}

.headerRightBoxChild a {
    font-size: 20px;
}