#intro {
    margin: 1rem;
    /* border: red 2px solid; */
    padding-left: 0;
    margin-bottom: 0;
}

/* main */
#intro main {
    margin-top: 1rem;
    /* border: 1px rgb(130, 150, 238) dashed; */
    display: flex;
}

#intro figure {
    flex: .45;
    margin-left: 0.1rem;
    /* border: lightpink 1px dashed; */
    /*ALIGN ITEMS*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#intro div#desc {
    flex: 1;
    width: 90%;
    margin-left: 3rem;
    margin-right: 5rem;
    padding-right: auto;
    /* border: 1px lightgreen dashed; */
    /*ALIGN ITEMS*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.8rem;
}



#intro img {
    width: 20rem
}
