<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Setting viewport for all browsers and devices as mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Styles -->
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/base.css">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400&display=swap" rel="stylesheet">
        <!-- General information ALV -->
        <meta name="description" content="Personal github project">
        <meta name="author" content="jjesus-bautista">
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Example Title </title>
        {% endif %}
        <link rel="icon" href="../static/assets/img/icons8-bulbasaur-48.png" type="image/x-icon">
    </head>
    <body>
        <div class="header">
            <a class="headerTitle"> {{ title }} </a>
            <div class="headerRightBox">
                {% for item in  base_dict.header.options %}
                <a>{{ item }}</a>
                {% endfor %}
            </div>
        </div>

        {% block index %} {% endblock %}
    </body>
</html>